.contact-all {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.main-contact-content {
    display: flex;
    flex: 1;
    margin: 5%;
    align-items: center;
}

.contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.icon {
    display: flex;
}

.phone-icon, .mail-icon{
    margin-top: 8px;
    margin-right: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    flex: 2.5;
    margin: 20px;
}

.customer-details {
    display: flex; 
    justify-content: space-between;    
    margin-bottom: 20px;   
}

.contact-form .form-button {
    margin-top: 3%;
    background-color: #0A2F6E; 
    color: white; 
    width: 20%;
}

.customer-details-text {
    flex: 1; 
    margin-right: 30px; 
}

.customer-details-text:last-child {
    margin-right: 0; 
}

.customer-details-text .MuiTextField-root {
    width: 100%; 
}

@media (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        margin: 2%; 
        align-items: center;
    }

    .customer-details {
        flex-direction: column; 
        gap: 15px; 
    }

    .contact-form .form-button {
        width: 50%;
        margin: 20px auto; 
    }
}

@media (max-width: 768px) {
    .main-content {
        margin: 1%; 
    }

    .contact {
        padding: 10px; 
        margin: 10px; 
    }

    .customer-details-text {
        margin-right: 0; 
        width: 100%; 
    }

    .contact-form .form-button {
        width: 80%; 
    }
}

@media (max-width: 480px) {
    .main-content {
        margin: 0; 
    }

    .contact {
        padding: 5px; 
        margin: 5px; 
    }

    .customer-details {
        flex-direction: column; 
        gap: 10px; 
    }

    .contact-form .form-button {
        width: 100%; 
    }

    .customer-details-text .MuiTextField-root {
        width: 100%; 
    }
}